<header id="#header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <!-- Logotipo -->
    <h1 class="logo me-auto">
      <a href="#hero"><img src="assets/img/LOGO_IKOMI.png" alt="IKOMI PERU"></a>
    </h1>

    <!-- Menú de Navegación -->
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li *ngFor="let link of navLinks">
          <a class="nav-link scrollto" [href]="link.url">
            <i [class]="link.icon"></i> {{ link.name }}
          </a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
