<app-header></app-header>

<main>
  <app-hero-carousel id="/"></app-hero-carousel>

  <!-- Sección de Clientes -->
  <section id="clients">
    <app-client-sect></app-client-sect>
  </section>

  <!-- Sección de Nosotros -->
  <section id="about">
    <app-about></app-about>
  </section>

  <!-- Sección de Historia -->
  <section id="historia">
    <app-historia></app-historia>
  </section>

  <!-- Sección de Estadísticas -->
  <section id="counts">
    <app-counts></app-counts>
  </section>

  <!-- Sección de Servicios -->
  <section id="services">
    <app-services></app-services>
  </section>

  <!-- Sección de Productos -->
  <section id="products">
    <app-products></app-products>
  </section>

  <!-- Sección de Marcas -->
  <section id="brands">
    <app-brands></app-brands>
  </section>

  <!-- Sección de Contacto -->
  <section id="contact">
    <app-contact></app-contact>
  </section>
</main>

<app-footer></app-footer>
