<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-xl-5 d-flex align-items-stretch">
        <div class="content">
          <h3>HISTORIA</h3>
          <p>
            IKOMI PERU es una compañía dedicada a la importación y comercialización de repuestos automotrices al por
            mayor y por menor para vehículos medianos y pesados de las principales marcas de origen koreano y japonés.
          </p>
          <p>
            Nuestra empresa viene satisfaciendo las necesidades del rubro a nivel nacional desde 2009, cumpliendo con los estándares de calidad, seguridad y sostenibilidad que el mercado actual demanda.
          </p>
          <p>
            IKOMI PERU, además de 15 años de presencia en el mercado peruano, cuenta con el respaldo de sus más de 3000 clientes y se posiciona como una de las empresas más destacadas en el rubro a nivel nacional.
          </p>
        </div>
      </div>
      <div class="col-xl-7 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Misión</h4>
              <p>
                En IKOMI PERU, nos comprometemos a satisfacer a nuestros clientes a través de colaboradores
                capacitados y mejora continua en la cadena de suministro. Valoramos la responsabilidad social y
                sostenibilidad.
              </p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
              <h4>Visión</h4>
              <p>
                En IKOMI PERU, buscamos ser líderes reconocidos en el rubro automotriz, destacándonos por la calidad
                excepcional de nuestros productos y servicios.
              </p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-images"></i>
              <h4>Proveedores</h4>
              <p>
                Entre nuestros proveedores se encuentran las mejores compañías de manufactura a nivel global, muchas de
                ellas certificadas con ISO 9001.
              </p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-shield"></i>
              <h4>Logística</h4>
              <p>
                La logística, se ha convertido para IKOMI PERU en una herramienta indispensable para ser eficiente,
                rentable y competitivo dentro de las exigencias del mercado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
