<section id="services" class="services section-bg">
  <div class="diagonal-background">
    <div class="container">
      <div class="section-title">
        <h2>Servicios</h2>
        <p>Estamos listos para atenderte.</p>
      </div>

      <div class="row">
        <div *ngFor="let service of services" class="col-md-6 mt-4" [@fadeInUp]="{ value: '', params: { delay: service.delay } }">
          <div class="icon-box">
            <i [class]="service.icon"></i>
            <h4><a href="#">{{ service.title }}</a></h4>
            <p>{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
